<div class="social-icons">
  <a target="_blank" href="https://instagram.com/lawncoffee">
    {% include 'atoms/icon.twig' with { icon: 'instagram' } %}
  </a>
  <a target="_blank" href="https://en-gb.facebook.com/lawncoffee/">
    {% include 'atoms/icon.twig' with { icon: 'facebook' } %}
  </a>
</div>
