.btn-arrow {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  cursor: pointer;
  display: inline-flex;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 50px;
  height: 50px;
  width: 100%;
  outline: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  span:not(.icon) {
    // text-decoration: underline;
    font-weight: 800;
    letter-spacing: 2px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 2PX;
      position: absolute;
      bottom: 15px;
      background: $black;
    }
  }
  .icon {
    transition: all $speed $easing;
    width: 30px;
    height: 100%;
    margin-left: auto;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .icon {
      transform: translateX(-10px);
    }
  }
}
