<footer class="footer">
  <div class="container">



      <div class="footer__info">
        <div class="row row--reset-pad">
          <div class="col col--4@med">
            <img class="logo" src="{{ theme.link }}/assets/images/logo.svg">
          </div>

        <div class="col col--2@med">
          <p><strong> Contact </strong></p>
            <p> For afternoon tea / brunch reservations and all other enquiries please get in touch. </p>
              <p><a href="mailto:hello@lawncoffee.co.uk">  hello@lawncoffee.co.uk </a> </p>
              <p><a href="tel:+4401612368999">  +44 (0)161 236 8999  </a></p>
        </div>

        <div class="col col--2@med">
          <p><strong> Address </strong> </p>

            <p> 18-24 Princess Street<br>
            Princess St. Hotel<br>
            Manchester <br>
            M1 4LG</p>

        </div>

        <div class="col col--2@med">
        <p>  <strong> Follow Us </strong> </p>
            <p>  <a target="_blank" href="https://en-gb.facebook.com/lawncoffee/">  Facebook </a>
              <br>
              <a target="_blank" href="https://instagram.com/lawncoffee">  Instagram </a> </p>
        </div>


    </div>
  </div>


<div class="row">
  <div class="footer footer--copyright">
    &copy; 2019 Lawn Coffee / A UK registered company
  </div>

  <div class="footer footer--personatile">
    Design <a target="_blank" href="https://tilecreative.com" target="_blank">Tile Creative</a> / Build <a target="_blank" href="http://persona.studio" target="_blank">Persona Studio</a>
  </div>
</div>


  </div>

</footer>
