$base-font: "MaisonNeue-Book",sans-serif;
$base-font-weight: normal;
$base-bold-font-weight: 700;

$header-font: "Optima",sans-serif;
$header-font-weight: normal;

$base-line-height: 1.8;
$header-line-height: 1;

$small-font-size: 14px;
$middle-font-size: 18px;
$medium-font-size: 24px;
$large-font-size: 42px;
$xl-font-size: 82px;


$h1-font-size: 60px;
$h1-line-height: 65px;

$h2-font-size: 13px;
$h2-line-height: 18px;
$h2-letter-spacing: 5px;

$h3-font-size: 30px;
$h3-line-height: 35px;

$h4-font-size: 17px;
$h4-line-height: 22px;

$h5-font-size: 15px;
$h5-line-height: 24px;

$h6-font-size: 20px;
$h6-line-height: 28px;
$h6-font-family: $base-font;
