.instagram {
  padding-top: 6rem;
  &__feed {
      width: 100%;

    .carousel-cell {
      width: 320px;
      margin: 0 10px;
      @include media("<lrg") {
        width: 40%;
        margin: 0 1%;
      }
      @include media("<med") {
        width: 78%;
        margin: 0 3%;
      }
    }
  }

  h3 {
    line-height: 0.2;
  }

}
