.footer {
  background: whitesmoke;
  color: $black;
  padding: $space-6x 0 $space-2x 0;
  &__title {
    width:100%;

    h4 {
      margin-top: 10px;
    }
  }


  &__info {
    ul {
      color: $black;
      padding: 0;
      margin-top: 15px;
      list-style-type: none;
      list-style: none;
      font-size: $small-font-size;

      @include media("<med") {
        font-size: $middle-font-size;
      }
    }

    p {
      font-size: $small-font-size;
      line-height: 1.4;

      @include media("<med") {
        font-size: $middle-font-size;
      }

      strong {
        text-transform: uppercase;
      }
    }

    a {
      text-decoration: none;
      margin-top: 15px;
    }
  }

  &--copyright {
    padding-bottom: 20px;
    font-size: $small-font-size;

    @include media("<med") {
      margin: 0;
      padding: 0;
      font-size: $middle-font-size;
    }
  }

  &--personatile {
    font-size: 14px;
    @include media("<med") {
      padding: 0;
      margin-top: 15px;
    }
  }

  .social-icons {
    margin-top: 20px;
    text-align: left;

    @include media("<med") {
      margin-top: 40px;
    }

    a {
      .icon {
        width: 27px;
        height: 27px;
      }
    }
  }

  .logo {
    @include media("<med") {
      display: none;
    }
  }



}
