.logo {
  width: 140px;
  padding: 23px 0 0 0;
}

.nav-logo {
  width: 120px;
  @include media("<lrg") {
    width: 8.75rem;
    z-index: 9;
    margin-left: 0;
    margin-right: auto;
  }

  @include media("<med") {
    margin-left: auto;
  }
}
