@font-face {
    font-family: 'MaisonNeue-Book';
    src: url('../fonts/MaisonNeue-Book.woff2') format('woff2'),
         url('../fonts/MaisonNeue-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('../fonts/optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Optima Medium';
    src: url('../fonts/optima-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
